<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of {{ path }}</title>
  </head>
  <body>
    <h1>Index of {{ path }}</h1>

    {% assign path_last = path | slice: -1 %}

    {% for file in files %}
      {% if path_last == "/" %}
        <a href="{{ path }}{{ file.path }}">{{ file.name }}</a>
      {% else %}
        <a href="{{ path }}/{{ file.path }}">{{ file.name }}</a>
      {% endif %}
      {% unless forloop.last %}<br/>{% endunless -%}
    {% endfor %}
  </body>
</html>